# Author: Xida Ren
# URL: https://github.com/renxida/labtunnel

[Unit]
Description=Setup an autossh tunnel to %I
# we want SSH, and wait for rc.local, too - network-online.target is not guaranteed to exist
After=ssh.service rc-local.service network-online.target

[Service]
# Using ssh-agent example
#Environment=SSH_AUTH_SOCK=%h/.ssh/ssh-agent.sock
ExecStart=%h/labtunnel/autossh-loop.sh %i

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
