# Author: Xida Ren
# URL: https://github.com/renxida/labtunnel

[Unit]
Description=Setup a secure tunnel to %I
# we want network *and* SSH, since we're about to reverse tunnel to it
After=ssh.service rc-local.service

[Service]
# Using ssh-agent example
#Environment=SSH_AUTH_SOCK=%h/.ssh/ssh-agent.sock
ExecStart=%h/labtunnel/autossh-loop.sh %i

# Restart every >2 seconds to avoid StartLimitInterval failure
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
