[Unit]
Description=Run a looping script
After=rc-local.service

[Service]
ExecStart=%h/%i.sh --infinite-loop
StandardOutput=null

RestartSec=30
Restart=always

[Install]
WantedBy=multi-user.target
